/* Tooltip text */
:global .ToolTips {
  position: relative;
}

:global .ToolTips .ToolTipsText {
  visibility: hidden;
  display: inline-block;
  width: 100px;
  font-size: 16px;
  background-color: black;
  color: #4CAF50;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 2;
  top: 125%;
  left: 50%;
  margin-left: -50px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 1.5s;
}

/* Tooltip arrow */
:global .ToolTips .ToolTipsText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
:global .ToolTips:hover .ToolTipsText {
  visibility: visible;
  opacity: 1;
}
