.SearchBar {
  width: 60%;
  display: inline-block;
}

.SearchBar input {
  width: 20%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.SearchBar input:focus {
    width: 100%;
}
