.TodoEditor {
  display: inline-block;
  width: 100%;
}

.TodoEditor * {
  display: inline-block;
}

.ToolTipsText {
  top: 115%;
}

.TodoEditor input[name='description'] {
  width: 74%;
  background-color: #4CAF50;
  color: black;
}

.TodoEditor input[name='description']::placeholder {
  color: #555;
}

.TodoEditor input[name='date'] {
  width: 25%;
  margin-right: 1%;
}

.TodoEditor i {
  font-size: 24px;
  padding: 4px;
}

/*.TodoEditor input[type='text'], input[type='time'] {
  background-color: black;
}*/

.Content {
  float: left;
  vertical-align: top;
}

.Operations {
  float: right;
}

.DroppedContent {
  color: #ffffb3;
}
