@import './fontFamily.css';

@import './dateInput.css';
@import './select.css';

:global * {
  /*background-color: black;*/
  color: #00FFFF;
  font-family: 'Oleo Script Swash Caps';
}

:global .Block {
  border-color: #000000;
  border-style: dashed;
}

:global .functionalText {
  font-size: 30px;
}

:global .functionalText:hover {
  cursor: pointer;
  font-weight: bold;
}

:global .Button {
  text-decoration: none;
  display: inline-block;
  padding: 2px 16px 4px;
  background-color: black;
  color: #00FFFF;
  cursor: pointer;
}

:global .Button:hover {
  background-color: #ddd;
  color: black;
}

:global .Lefter {
  border-radius: 5px 0px 0px 5px;
}

:global .Righter {
  border-radius: 0px 5px 5px 0px;
}

:global .Round {
  border-radius: 50%;
}

:global td .L {
  align-items: left;
  align-self: left;
  align-content: left;
}

:global td .R {
  text-align: right;
  align-items: right;
  align-self: right;
  align-content: right;
}
