.Menu  {
  position: fixed;
  width: 100%;
  overflow: visible;
  z-index: 0;
}

.Menu .MainMenu, .Divider, .SubMenu {
  position: fixed;
  width: 100%;
  overflow: visible;
  z-index: 0;
}

.Menu .Divider {
  top: 35px;
  height: 6px;
  background-color: black;
  z-index: -1;
}

.Menu .MainMenu {
  top: 0;
  background-color: #555555;
}

.Menu .MainMenu i {
  display: inline-block;
  float: left;
  font-size: 24px;
  transition: all 0.5s ease;
  padding: 5px 0px 1px;
  width: 5%;
}

/*.Menu .MainMenu i:after {
  position: absolute;
  top: 0;
  display: inline-block;
  content: "";
  border-top: 36px solid blue;
  border-right: 18px solid transparent;
}*/

.Menu .MainMenu .RightMenu {
  float: right;
  width: 15%;
}

.Menu .MainMenu .RightMenu i {
  width: 33%;
}

@media screen and (max-width: 600px) {
  .Menu .MainMenu i {
    float: none;
    display: block;
  }
  .RightMenu {
    float: none;
  }
}

.Menu .MainMenu .DisplaySubMenu .DisplaySubMenuContent i {
  color: #555555;
  width: 33%;
  padding: 5px 12px 1px;
  animation-name: fadein;
  animation-duration: 1s;
}

.Menu .MainMenu .DisplaySubMenu .DisplaySubMenuContent i:hover {
  color: #ffffb3;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Menu .MainMenu .DisplaySubMenu {
  margin-left: -8px;
  width: 6px;
  height: 35px;
  position: relative;
  display: inline-block;
  float: left;
  background: black;
  transition: width 1s;
}

.Menu .MainMenu .DisplaySubMenu:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 8px solid #555555;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.Menu .MainMenu .DisplaySubMenu:before {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 8px solid black;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.Menu .SubMenu {
  top: 41px;
  height: 6px;
  z-index: -1;
}

.Menu .SubMenu .Tag {
  position: relative;
  display: inline-block;
  float: left;
  background-color: #555555;
  height: 35px;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.Menu .SubMenu .Tag:after {
  content: "";
  position: absolute;
  right: -18px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid #555555;
  border-left: 9px solid #555555;
  border-right: 9px solid transparent;
  z-index: 1;
}

.Menu .SubMenu .TagO {
  position: relative;
  display: inline-block;
  float: left;
  background-color: black;
  height: 35px;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.Menu .SubMenu .TagO:after {
  content: "";
  position: absolute;
  right: -18px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid black;
  border-left: 9px solid black;
  border-right: 9px solid transparent;
  z-index: 1;
}

@keyframes slidein {
  0% {
    width: 0;
  }
  100% {
    width: 15%;
  }
}

.Menu .SubMenu * span {
  float: left;
  width: 80%;
  text-align: center;
  padding: 8px 0px 1px;
  vertical-align: middle;
  animation-name: fadein;
  animation-duration: 1s;
  cursor: pointer;
}

/*.Menu .MainMenu .DisplaySubMenu {
  position: relative;
  display: inline-block;
  float: left;
  transition-duration: 1s;
}*/

/*
displaySubMenuStyle = {
  marginLeft: '-21px',
  borderBottom: '32px solid black',
  borderLeft: '16px solid transparent',
  borderRight: '16px solid black',
  height: 0,
  width: '15%',
  transitionProperty: 'width',
};
displaySubMenuStyle = {
  marginLeft: '-12px',
  width: '5px',
  height: '32px',
  transform: 'skew(-27deg)',
  background: 'black',
  transitionProperty: 'width, border-right',
};
*/
