.TodoAdders {
  margin-top: 72px;
  opacity: 0;
}

.TodoAddersActivated {
  opacity: 1;
  transition: opacity 1.5s ease;
}

.TodoAdders i {
  position: relative;
  display: inline-block;
  color: black;
}

.TodoAdders i:hover {
  cursor: pointer;
  transition: color 0.5s ease;
}

.MainAdder i {
  font-size: 144px;
}

.SubAdder {
  display: inline-block;
  background-color: #555;
  width: 100vw;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 36px;
  border-radius: 0px;
  height: 32px;
  border: -20px;
}

.SubAdder i {
  position: relative;
  top: -26px;
  display: inline-block;
  font-size: 24px;
  padding: 2px;
}

.SubAdderAnim i {
  animation-name: spin;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.SubAdderAnim i:hover {
  animation-iteration-count: 0;
}

@keyframes spin {
  10% {
    transform: rotateY(180deg);
    color: #ffffb3;
  }
  20% {
    transform: rotateY(0);
    color: black;
  }
}
