.Logo {
  background-color: black;
  height: 100%;
  float: left;
  display: inline;
  font-size: 24px;
  cursor: pointer;
  padding: 0px 8px;
  vertical-align: middle;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 0px;
}

.McPart, .ListPart {
  color: #ffffb3;
  font-family: 'Bungee Outline';
}

.APart {
  color: #4CAF50;
  font-family: 'Fredericka the Great';
}
