.McAList {
  margin: auto;
  width: 80%;
  border-color: #000000;
  border-style: dashed;
}

.McAList table {
  margin: auto;
  width: inherit;
}

.McAList td {
  border-color: #000000;
  border-style: dashed;
}

.McAList PeriodSelector {
  display: inline;
  margin: auto;
  width: 70%;
}

.McAList FunctionBar {
  display: inline;
  margin-right: 0px;
}
